@import "~plaid-threads/scss/variables";

.item{
    text-decoration: none;
    margin: 10px 25px;
}
.item:hover{
    background-color: greenyellow;
}

.ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
}
.nav{
    width: 100%;
    background-color:khaki;
}
